.home {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
}

.home h1 {
    font-weight: normal;
    font-size: 5em;
    margin: 12px;
}

.home h2 {
    font-weight: lighter;
    font-size: 2em;
    margin: 12px;
}