body {
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 0;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header {
  text-align: center;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: #303030;
  font-weight: lighter;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

ul.header li a:hover {
  color: #505050;
}